include /_components/index

h2 screen-1
h3: +NumberedLink(href='/screen-1/1/') esfera estática
h3: +NumberedLink(href='/screen-1/2/') deformação de superficie
h3: +NumberedLink(href='/screen-1/3/') cores sólidas aleátorias (bg e fg)
h3: +NumberedLink(href='/screen-1/4/') cor dinâmica relacionada a deformação (bg branco)
h3: +NumberedLink(href='/screen-1/5/') ruptura da superfície
h3: +NumberedLink(href='/screen-1/5-1/') rotacão da câmera
h3: +NumberedLink(href='/screen-1/6/') reconhecimento facial
h3: +NumberedLink(href='/screen-1/6-1/') normalização matricial
h3: +NumberedLink(href='/screen-1/6-2/') configuração do computer vision / neural net.
h3: +NumberedLink(href='/screen-1/7/') bitmaps (e melhoramentos na calibragem espacial e tooling)
h3: +NumberedLink(href='/screen-1/8/') parâmetros reativos a presença
h3: +NumberedLink(href='/screen-1/9/') computer vision alternativo
h3: +NumberedLink(href='/screen-1/10/') versão instalação (galeria ponto)
