doctype html
html
	head
		link(rel='stylesheet' href='/reset.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css')
		link(rel='stylesheet' href='./index.css')
	body
		!=yield
