h3: a(href='camera-2') camera
h3: a(href='camera') camera (brfv4)
h3: a(href='visual') visual
h3: a(href='debug') debug
h3: a(href='visual-debug') visual-debug
h3: a(href='record') record
h3: a(href='playback') playback
h3: a(href='mock') mock
