h2 current
h3: a(href='visual.html') visual
h3: a(href='back.html') back

<br><br>
h2 legacy
h3: a(href='camera-2.html') camera
h3: a(href='camera.html') camera (brfv4)
h3: a(href='debug.html') debug
h3: a(href='visual-debug.html') visual-debug
h3: a(href='record.html') record
h3: a(href='playback.html') playback
h3: a(href='mock.html') mock
