h3: a(href='camera.html') camera
h3: a(href='visual.html') visual
h3: a(href='debug.html') debug
h3: a(href='visual-debug.html') visual-debug
h3: a(href='record.html') record
h3: a(href='playback.html') playback
h3: a(href='mock.html') mock
